name: Playit RDP Tunnel

on:
  workflow_dispatch:

jobs:
  setup-rdp-tunnel:
    runs-on: windows-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2

    - name: Download and Install Playit
      run: |
        Invoke-WebRequest -Uri "https://github.com/playit-cloud/playit-agent/releases/download/v0.15.26/playit-windows-x86_64-signed.exe" -OutFile "$env:USERPROFILE\playit.exe"
        Start-Sleep -Seconds 5

    - name: Enable RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1
        Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "p@ssw0rd!" -Force)

    - name: Start Playit and Set Up RDP Tunnel
      env:
        PLAYIT_AUTH_KEY: ${{ secrets.PL }}
      run: |
        Start-Process -FilePath "$env:USERPROFILE\playit.exe" -ArgumentList "--secret $env:PLAYIT_AUTH_KEY" -NoNewWindow

    # ✅ Download MuMu Installer using cURL
    - name: Download MuMu Installer
      run: |
        curl -L "https://www.mediafire.com/file/u3ljtir2mf5esv1/MuMuInstaller_3.1.7.0_gw-overseas12_all_1712735105.exe/file?dkey=12cuxdsav4l&r=1442" -o "$env:USERPROFILE\Desktop\MuMuInstaller.exe"

    # ✅ Download MAIN_VODKA using cURL
    - name: Download MAIN_VODKA
      run: |
        curl -L "https://www.mediafire.com/file/sn3meb58r4e1u2o/MAIN_VODKA.mumudata/file?dkey=gdwtt23fsrw&r=341" -o "$env:USERPROFILE\Desktop\MAIN_VODKA.mumudata"

    # Keep the GitHub Action Runner Alive
    - name: Keep the GitHub Action Runner Alive
      run: |
        Start-Sleep -Seconds 21500
